*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    height: 100vh;
    background: #728499;
    display: flex;
    justify-content: center;

}

.header{
    position: relative;
    height: 120px;
    width: 500px;
    backg
}