*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    height: 100vh;
    background: #728499;
    display: flex;
    justify-content: center;

}

.header{
    position: relative;
    height: 120px;
    width: 500px;
    background: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header ul{
    position: relative;
    display: flex;
}

.header ul li{
    position: relative;
    list-style-type: none ;
}

.header ul li a{
    position: relative;
    height: 120px;
    width: 90px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.header ul li a{
    color: #728499;]
    font-size: ;
}